:root {
  --light-blue: #d1f2fe;
  --dark-blue: #0f6582;
  --white: #fcfcfc;
  --black: #232527;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-blue);
  font-family: sans-serif;
  font-size: 1.2rem;
  color: var(--black);
  height: 100vh;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 3rem 5vw;
  padding-bottom: 100px;
}

h1 {
  font-size: calc(1vw + 2rem);
  margin: 0 auto 2rem;
  text-align: center;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin: 1rem 0;
}

.msg-paragraph {
  margin: 1rem 0;
  padding: 1em;
  background-color: #0f6582;
  color: var(--white);
  border-radius: 10px 10px 10px 0px;
}

.input-bar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-45%);
  width: 100vw;
  max-width: 600px;
  display: flex;
  justify-content: center;
  padding: 1rem 5vw 2rem;
  background: var(--light-blue);
}

input {
  outline: none;
  border: var(--dark-blue) 2px solid;
  background-color: var(--white);
  border-radius: 6px;
  padding: 0.8em;
  color: var(--dark-blue);
  font-size: 1.2rem;
}

.submit-btn {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  padding: 1em;
  cursor: pointer;
}
